<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.0" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.Logging" version="9.0.0" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.0" />
  <package id="Microsoft.Extensions.Options" version="9.0.0" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.0" />
  <package id="Serilog" version="4.3.0" manuallyInstalled="true" />
  <package id="Serilog.Extensions.Logging" version="9.0.2" manuallyInstalled="true" />
  <package id="Serilog.Formatting.Compact" version="3.0.0" manuallyInstalled="true" />
  <package id="Serilog.Sinks.Async" version="2.1.0" manuallyInstalled="true" />
  <package id="Serilog.Sinks.Console" version="6.1.1" manuallyInstalled="true" />
  <package id="Serilog.Sinks.File" version="7.0.0" manuallyInstalled="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.0" />
  <package id="System.Threading.Channels" version="8.0.0" />
</packages>